@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul,
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/* Контейнер */
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 32px;
  }
}

body {
  line-height: 1.17;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 40px 20px 92px 20px;
  background-image: url(../images/haeder/header-background-320.jpg);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    max-width: 320px;
    background-size: 320px 230px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  header {
    background-image: url(../images/haeder/header-background-320.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  header {
    max-width: 768px;
    height: 216px;
    padding: 40px 32px 81px 32px;
    margin-bottom: 59px;
    background-image: url(../images/haeder/header-background-768.jpg);
    background-size: 768px 216px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  header {
    background-image: url(../images/haeder/header-background-768.jpg);
  }
}
@media screen and (min-width: 1280px) {
  header {
    max-width: 1280px;
    height: 216px;
    margin-bottom: 60px;
    padding: 40px 32px 80px 32px;
    background-image: url(../images/haeder/header-background-1280.jpg);
    background-size: 1280px 216px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  header {
    background-image: url(../images/haeder/header-background-1280.jpg);
  }
}

.nav__wrap {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__wrap {
    justify-content: space-between;
  }
}
.nav__img {
  margin-right: 112px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .nav__img {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .nav__img {
    margin-right: 10px;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  position: relative;
}

.search {
  position: relative;
  margin-top: 54px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .search {
    margin-top: 40px;
    max-width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .search {
    max-width: 394px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
  }
}
.search__input {
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.search__input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.search__input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.search__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.search__btn {
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.title {
  font-size: 30px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .title {
    display: block;
  }
  .title__wrap {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav__link--current::after {
    position: absolute;
    left: 0;
    bottom: -1.5px;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff001b;
  }
}

.movies__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies__list {
    margin: -16px;
  }
}
@media screen and (min-width: 1280px) {
  .movies__list {
    margin: -8px;
  }
}
.movies__item {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies__item {
    width: calc((100% - 64px) / 2);
    margin: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .movies__item {
    width: calc((100% - 96px) / 3);
    margin: 16px;
  }
}
.movies__img {
  height: 398px;
  width: 100%;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies__img {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .movies__img {
    margin-bottom: 12px;
  }
}
.movies__title {
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .movies__title {
    font-size: 20px;
  }
}
.movies__text {
  font-size: 12px;
  font-weight: 500;
  color: #ff6b08;
}
@media screen and (min-width: 1280px) {
  .movies__text {
    font-size: 20px;
  }
}

.footer {
  padding: 30 0;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1280px;
  }
}
.footer__simbol {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #545454;
}
.footer__text {
  display: flex;
  justify-content: center;
  color: #545454;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .footer__text {
    margin-left: 5px;
  }
}
.footer__img {
  margin-right: 10px;
  margin-left: 10px;
}
.footer__span {
  color: #545454;
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */