$max-width: 1280px;
$min-width: 320px;
$middle-width: 768px;

$bgc-primary: #ffffff;
$bgc-secondary: #f7f7f7;
$text-color-header: #ffffff;
$text-color-primary: #000000;
$color-acent: #ff6b08;
$color-acent-btn: #ff6b01;
$color-secondary: #545454;
$text-color-secondary: #8c8c8c;

$font-family: 'Roboto', sans-serif;

$font-weight-primary: 500;
$font-weight-secondary: 400;
