<header>
  <div class="nav__wrap">
    <div class="title__wrap">
      <img
        class="nav__img"
        src="./images/haeder/film.svg"
        alt="icon"
        width="24"
      />
      <h1 class="title">Filmoteka</h1>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="./index.html">Home</a>
        </li>
        <li class="nav__item"><a class="nav__link" href=""></a>MY LIBRARY</li>
      </ul>
    </nav>
  </div>
  <form class="search" action="">
    <input
      class="search__input"
      type="text"
      name="filmname"
      placeholder="Movie search"
      autofocus
    />
    <button class="search__btn" type="submit">
      <img
        class="search__img"
        src="./images/haeder/search.svg"
        alt="search"
        width="12px"
      />
    </button>
  </form>
</header>
