<header>
  <div class="nav__wrap">
    <div class="title__wrap">
      <a href="./index.html">
        <img
          class="nav__img"
          src="./images/haeder/film.svg"
          alt="icon"
          width="24"
      /></a>
      <h1 class="title">Filmoteka</h1>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">HOME</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="./library.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-lib-btn__wrap">
    <button type="button" class="header-lib-btn">WATCHED</button>
    <button type="button" class="header-lib-btn">QUEUE</button>
  </div>
</header>
