<!-- <div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__btn-close">X</button>
    <div class="modal-container">
      <img
        class="modal__img"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcMvzTK3P4utQeyTN-LXqnSI0RVoqvqxT50J6jbX61_vBydTUS"
        alt="Обкладинка фільму"
      />
      <div class="modal-container-columns">
        <p class="modal__name">A FISTFUL OF LEAD</p>
        <div class="modal-conteiner-ul">
          <ul class="modal__list-theme">
            <li class="modal__item">
              <p class="modal__item-text">Vote / Votes</p>
            </li>
            <li class="modal__item">
              <p class="modal__item-text">Popularity</p>
            </li>
            <li class="modal__item">
              <p class="modal__item-text">Original Title</p>
            </li>
            <li class="modal__item">
              <p class="modal__item-text">Genre</p>
            </li>
          </ul>
          <ul class="modal__list-value">
            <li class="modal__item">
              <p class="modal__item-value slash">
                <span class="modal__hightlight selected">7.3</span>/<span
                  class="modal__hightlight not-selected"
                  >1260</span
                >
              </p>
            </li>
            <li class="modal__item">
              <p class="modal__item-value">100.2</p>
            </li>
            <li class="modal__item">
              <p class="modal__item-value">A FISTFUL OF LEAD</p>
            </li>
            <li class="modal__item">
              <p class="modal__item-value">Western</p>
            </li>
          </ul>
        </div>
        <p class="modal__about">About</p>
        <p class="modal__description">
          Four of the West"s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <ul class="modal__btn-list">
          <li class="modal__btn-item">
            <button type="button" class="modal__btn watched">
              add to Watched
            </button>
          </li>
          <li class="modal__btn-item">
            <button type="button" class="modal__btn queue">add to queue</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
