.movies {
  &__list {
    display: flex;

    flex-wrap: wrap;

    @media screen and (min-width: $middle-width) and (max-width: 1279px) {
      margin: -16px;
    }
    @media screen and (min-width: $max-width) {
      margin: -8px;
    }
  }

  &__item {
    width: 100%;

    @media screen and (min-width: $middle-width) and (max-width: 1279px) {
      width: calc((100% - 2 * 32px) / 2);
      margin: 16px;
    }

    @media screen and (min-width: $max-width) {
      width: calc((100% - 6 * 16px) / 3);
      margin: 16px;
    }
  }

  &__img {
    height: 398px;
    width: 100%;
    margin-bottom: 10px;

    @media screen and (min-width: $middle-width) and (max-width: 1279px) {
      margin-bottom: 8px;
    }

    @media screen and (min-width: $max-width) {
      margin-bottom: 12px;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: $font-weight-primary;
    @media screen and (min-width: $max-width) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 12px;
    font-weight: $font-weight-primary;
    color: $color-acent;
    @media screen and (min-width: $max-width) {
      font-size: 20px;
    }
  }
}
